@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,500,600,700,800&display=swap);
:root {
  --headerHight: 5.625rem;
  --headerHightMobile: 3.75rem;
  --fontFamilyIconsFont: "IconsFonts";
  --fnIndText: #000000;
  --fnFooter: #949494;
  --fnLogo: #353636;
  --fnParagInd: #717273;
  --fnValueMinus: #EA5C5A;
  --fnValuePlus: #148F2B;
  --fnTimeNews: #737374;
  --bgSection: #FFFFFF;
  --bgFooter: #292929;
  --bgLinkBtn: #FFDD2D;
  --bgHoverLinkBtn: #e2c327;
  --bgBorderLine: #3F3F3F;
  --bgBody: #F6F7F8;
  --bgTableList: #FAFAFA;
  --bgBeforeItem: #FFDD2D;
  --bgElemForm: #F2F4F7
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #353636;
  line-height: 1;
  font-family: Manrope;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Manrope;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
textarea {
  resize: vertical
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
address,
em,
i {
  font-style: normal
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 96.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,95rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.select {
  min-width: 0;
  position: relative;
  max-width: 377px;
  width: 100%
}
.select__body {
  position: relative
}
.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  height: 82px;
  border-radius: 14.683px;
  background: #f2f4f7
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  height: 1.875rem;
  padding: 0 .9375rem;
  gap: .625rem
}
.select__value>* {
  flex: 1 1 auto
}
.select__value:after {
  content: "";
  align-self: stretch;
  transition: all .3s ease 0s;
  flex: 0 0 .75rem;
  background: url(../img/items_svg/button_select.svg) center/.625rem .5625rem no-repeat;
  display: flex;
  justify-content: center;
  align-items: center
}
._select-open .select__value:after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  height: 100%
}
.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - .0625rem);
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0 5px 0
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit
}
.select__option._select-selected {
  background-color: #eee
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0 10px 0
}
._select-tag {
  cursor: pointer
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.footer--setup {
  background-color: var(--bgFooter);
  color: var(--fnFooter)
}
.footer__content {
  max-width: 89.6875rem;
  margin: 0 auto;
  padding: 0 .9375rem;
  line-height: 1.2;
  font-family: Manrope
}
.footer__body {
  padding: 2rem 0 4rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.body-info__comp {
  max-width: 37.125rem;
  width: 100%
}
.body-info__social-group {
  margin-bottom: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.body-info__data-info {
  text-align: right;
  font-size: .75rem;
  font-weight: 600;
  max-width: 15.5rem
}
.body-info__email {
  transition: all .25s ease-in
}
.comp__inner-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-column-gap: 1.125rem;
  -moz-column-gap: 1.125rem;
  column-gap: 1.125rem;
  padding-bottom: 1.25rem;
  border-bottom: .125rem solid var(--bgBorderLine);
  margin-bottom: 1rem
}
.comp__investor {
  color: var(--fnLogo);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
  display: inline-block;
  border-radius: 1.5rem;
  background: var(--bgLinkBtn);
  padding: .625rem 1.4375rem
}
.comp__solution {
  font-size: .8125rem;
  font-weight: 800
}
.comp__paragraph {
  font-size: .625rem;
  font-weight: 500;
  max-width: 25.75rem;
  width: 100%
}
.link__jump-elem {
  transition: all .25s ease-in
}
.link__item {
  fill: #949494;
  transition: all .25s ease-in;
  width: 1.375rem;
  height: 1.375rem
}
body {
  background-color: var(--bgBody)
}
.page--setup {
  padding-top: 7.125rem;
  padding-bottom: 9.0625rem;
  line-height: 1.2
}
.hero--setup:not(:last-child) {
  margin-bottom: 1.25rem
}
.hero__container {
  border-radius: 20px;
  background-color: var(--bgSection)
}
.hero__body {
  padding: 2.375rem 5.5rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.hero__title {
  font-size: 4rem;
  font-weight: 800
}
.hero__title:not(:last-child) {
  margin-bottom: .3125rem
}
.hero__service {
  font-size: 2rem;
  font-weight: 500
}
.hero__poster {
  overflow: hidden;
  aspect-ratio: 480/292;
  max-width: 30rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}
.news__container {
  border-radius: 1.25rem;
  background: var(--bgSection);
  line-height: 1.2
}
.news__body {
  padding: 2.1875rem 2.5rem 3.25rem 2.5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 1.25rem
}
.news__content {
  max-width: 88.875rem;
  margin: 0 auto;
  padding: 0 .9375rem;
  position: relative;
  -webkit-transform: translate(0,-13%);
  transform: translate(0,-13%)
}
.news__area-bg {
  border-radius: 1.4895625rem;
  border: .1489375rem solid var(--bgBody);
  background: var(--bgSection);
  box-shadow: 0 .2979375rem 1.5416875rem -.875rem rgba(0,0,0,.25);
  padding: 2.3125rem 1.9375rem
}
.level-row__currency {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-column-gap: 1.6875rem;
  -moz-column-gap: 1.6875rem;
  column-gap: 1.6875rem
}
.level-row__actual-news {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-column-gap: 1.6875rem;
  -moz-column-gap: 1.6875rem;
  column-gap: 1.6875rem
}
.level-row__tass-pic {
  width: 1.4375rem;
  height: 1.4375rem;
  flex: 0 0 1.4375rem
}
.level-row__title {
  color: var(--fnIndText);
  font-weight: 700
}
.level-row__indicators {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-column-gap: 1.6875rem;
  -moz-column-gap: 1.6875rem;
  column-gap: 1.6875rem
}
.indicator__subtitle {
  color: var(--fnIndText);
  font-weight: 500
}
.exchange-rate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-column-gap: 1.6875rem;
  -moz-column-gap: 1.6875rem;
  column-gap: 1.6875rem
}
.exchange-rate__flag {
  width: 1.25rem;
  height: 1.25rem
}
.exchange-rate__country {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase
}
.exchange-rate__value-minus {
  color: var(--fnValueMinus);
  text-align: center;
  font-weight: 300
}
.exchange-rate__value-plus {
  color: var(--fnValuePlus);
  text-align: center;
  font-weight: 300
}
.exchange-rate__pic {
  width: .5rem;
  height: 1.625rem
}
.tass__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 2.3125rem
}
.tass__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem
}
.tass__cell::before {
  content: "";
  flex: 0 0 .6875rem;
  width: .6875rem;
  height: .6875rem;
  background-color: var(--bgBeforeItem);
  border-radius: 50%
}
.tass__time {
  color: var(--fnTimeNews);
  font-weight: 500
}
.tass__desk {
  color: var(--fnIndText);
  font-weight: 500
}
.deposits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.125rem;
  -moz-column-gap: 1.125rem;
  column-gap: 1.125rem
}
.deposits__inner-field {
  max-width: 26.75rem;
  width: 100%;
  height: 5.125rem;
  border-radius: .91575rem
}
.deposits__input {
  height: 100%;
  background: var(--bgElemForm);
  padding: 1.5rem 2rem;
  border-radius: .91575rem
}
.deposits__input:focus-visible {
  outline: 0;
  box-shadow: none
}
.deposits__show-value {
  border-radius: 13.704px;
  background: var(--bgLinkBtn);
  padding: 1.375rem 1.5625rem;
  text-align: center;
  min-height: 5.125rem;
  max-width: 13.8125rem;
  width: 100%;
  transition: all .25s ease-in
}
.deposits__filters {
  color: var(--fnIndText);
  font-size: 1.4375rem;
  font-weight: 500;
  border-radius: .9125rem;
  padding: 1.625rem 1.5625rem;
  text-align: center;
  min-height: 5.125rem;
  max-width: 13.8125rem;
  width: 100%;
  border: .09125rem solid var(--bgElemForm);
  transition: all .25s ease-in
}
.investmrnts--setup {
  line-height: 1.2
}
.investmrnts--setup:not(:last-child) {
  margin-bottom: 5.625rem
}
.investmrnts__content {
  max-width: 88.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.investmrnts__body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: .9375rem
}
.investmrnts__cell-bank {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: .9375rem
}
.cell-bank__inner-body {
  border-radius: .9823125rem;
  background: var(--bgSection);
  box-shadow: 0 .25rem 1.01875rem 0 rgba(0,0,0,.1);
  padding: 1.875rem 1.875rem 1.375rem 2.3125rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 3.375rem;
  -moz-column-gap: 3.375rem;
  column-gap: 3.375rem
}
.cell-bank__area-indicators {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  flex-grow: 1
}
.cell-bank__title-box {
  max-width: 18.4375rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.cell-bank__label {
  width: 2.375rem;
  height: 2.375rem
}
.cell-bank__wrap-item {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.cell-bank__caption {
  font-size: .9375rem;
  font-weight: 700;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: .0625rem;
  text-align: left
}
.cell-bank__note {
  color: var(--fnParagInd);
  font-size: .625rem;
  font-weight: 500
}
.cell-bank__group-value {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: .125rem;
  color: var(--fnLogo);
  text-align: center;
  font-size: .9375rem;
  font-weight: 700
}
.cell-bank__up-desk {
  color: var(--fnParagInd);
  text-align: center;
  font-size: .8125rem;
  font-weight: 500;
  color: var(--fnLogo)
}
.cell-bank__item-control {
  max-width: 16.25rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.5625rem;
  -moz-column-gap: 1.5625rem;
  column-gap: 1.5625rem
}
.cell-bank__btn-detail {
  border-radius: .4911875rem;
  background: var(--bgLinkBtn);
  padding: .8125rem 3.25rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500
}
.cell-bank__function-more {
  border-radius: .3125rem;
  border: .0625rem solid var(--fnTimeNews);
  background: var(--bgBody);
  color: var(--fnParagInd);
  font-size: .6875rem;
  font-weight: 700;
  padding: .5rem .6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem
}
.cell-bank__function-more::after {
  content: "";
  width: .4375rem;
  height: .4375rem;
  background: url(../img/items_svg/button_select.svg) center/.4375rem no-repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.cell-bank__submenu {
  width: 2.625rem;
  height: 2.625rem;
  -webkit-transform: translateY(7%);
  transform: translateY(7%);
  transition: all .25s ease-in;
  fill: #717273
}
.cell-bank__wrap-dop-body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: .9375rem
}
.cell-bank__sub-element {
  width: 100%
}
.row-dop__fill-box {
  border-radius: .9823125rem;
  background: var(--bgSection);
  box-shadow: 0 .25rem 1.01875rem 0 rgba(0,0,0,.1);
  padding: 1.875rem 1.875rem 1.375rem 2.3125rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 3.375rem;
  -moz-column-gap: 3.375rem;
  column-gap: 3.375rem
}
.row-dop__area-indicators {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  flex-grow: 1
}
.row-dop__title-box {
  max-width: 18.4375rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.row-dop__label {
  width: 2.375rem;
  height: 2.375rem
}
.row-dop__wrap-item {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.row-dop__caption {
  font-size: .9375rem;
  font-weight: 700;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: .0625rem;
  text-align: left
}
.row-dop__note {
  color: var(--fnParagInd);
  font-size: .625rem;
  font-weight: 500
}
.row-dop__group-value {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: .125rem;
  color: var(--fnLogo);
  text-align: center;
  font-size: .9375rem;
  font-weight: 700
}
.row-dop__up-desk {
  color: var(--fnParagInd);
  text-align: center;
  font-size: .8125rem;
  font-weight: 500;
  color: var(--fnLogo)
}
.row-dop__item-control {
  max-width: 16.25rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.5625rem;
  -moz-column-gap: 1.5625rem;
  column-gap: 1.5625rem
}
.row-dop__btn-detail {
  border-radius: .4911875rem;
  background: var(--bgLinkBtn);
  padding: .8125rem 3.25rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500
}
.top-bank--setup:not(:last-child) {
  margin-bottom: 2rem;
  line-height: 1.2
}
.top-bank__ind-container {
  max-width: 89.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.top-bank__title {
  color: var(--fnIndText);
  font-size: 2rem;
  font-weight: 700
}
.top-bank__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.top-bank__par {
  color: var(--fnParagInd);
  font-size: 1rem;
  font-weight: 500;
  max-width: 40.625rem
}
.reting--setup:not(:last-child) {
  margin-bottom: 5.625rem
}
.reting__ind-container {
  max-width: 89.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.reting__body {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 1.25rem;
  text-align: center
}
.table-data__bank-data {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  min-height: 5.375rem;
  border-radius: .9825rem;
  background: var(--bgSection)
}
.table-data__bank-data--scroll {
  border-radius: .9825rem;
  background: var(--bgTableList)
}
.bank-data__box-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  -webkit-column-gap: 1.6875rem;
  -moz-column-gap: 1.6875rem;
  column-gap: 1.6875rem;
  max-width: 17.875rem;
  width: 100%
}
.bank-data__name-bank {
  max-width: 17.875rem;
  width: 100%
}
.bank-data__label {
  margin-left: 3.125rem
}
.bank-data__indicator {
  max-width: 17.875rem;
  width: 100%
}
@media (any-hover:hover) {
  .select__option:hover {
    background: #d9d9d9
  }
  .body-info__email {
    cursor: pointer
  }
  .body-info__email:hover {
    color: var(--bgLinkBtn)
  }
  .link__jump-elem {
    cursor: pointer
  }
  .link__jump-elem:hover .link__item {
    fill: var(--bgHoverLinkBtn)
  }
  .deposits__show-value {
    cursor: pointer
  }
  .deposits__show-value:hover {
    background-color: var(--bgHoverLinkBtn)
  }
  .deposits__filters {
    cursor: pointer
  }
  .deposits__filters:hover {
    background-color: var(--bgBody)
  }
  .cell-bank__btn-detail {
    cursor: pointer
  }
  .cell-bank__btn-detail:hover {
    background-color: var(--bgHoverLinkBtn)
  }
  .cell-bank__submenu {
    cursor: pointer
  }
  .cell-bank__submenu:hover {
    fill: var(--fnValueMinus)
  }
  .row-dop__btn-detail {
    cursor: pointer
  }
  .row-dop__btn-detail:hover {
    background-color: var(--bgHoverLinkBtn)
  }
}